{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}
{%- assign per_page = settings.collection_limit -%}
{%- assign aView =  pUrl | split : "view=" -%}
{%- if aView.size > 1 and aView[1] != blank-%}
{%- assign per_page = aView[1] | plus: 0  -%}
{%- endif -%}
{%- assign tmp =  shop.url | append: collection.url | append: "/" -%}
{%- assign tmp_url = canonical_url | replace : tmp, ""  -%}
{%- assign a_tmp_url = tmp_url | split: "/" -%}


  <div class="row collection-hero">
    <div class="col-12 col-md-8">
      <h2>{{ collection.title }}</h2>
      <p>{{ collection.description }}</p>
    </div>
    <div class="col-12 col-md-4">
        <img src="{{ collection.image.src | collection_img_url: 'large' }}">
    </div>
  </div>

<input class="collection-canonical_url" type="hidden" data-url="collections/{{- collection.handle -}}" data-parts="{{- a_tmp_url.size -}}" value="{{tmp_url}}">
</div>
</div>

<div class="full bg-lgrey">
  <div class="container">
      <div class="filter-wrap sort advanced-sortby">
      {{ collection.metafields }}{{ collection.metafields.global }}
      { collection.metafields }{ collection.metafields.global }
       <div class="custom-attributes-wrapper"> 
       {%assign custom_attributes = collection.metafields.global %}  
          {%if custom_attributes.size > 0 %}     
            <h3>Additional information:</h3>    
             <ul>       
                {% for field in custom_attributes %}        
                 {% assign attribute_code = field | first %}        
                 {% assign attribute_value = field | last %}         
                    <li class="custom-attribute-item"><span class="custom-attribute-name">{{ attribute_code }}</span>: <span class="custom-attribute-value">{{attribute_value}}</span> </li>       
                {% endfor %}     
             </ul>  
          {%endif%}  

        </div>
        <div class="filter">
          <select class="coll-filter">
            <option value="">By Tags</option>
            {% for tag in collection.all_tags %} {% if current_tags contains tag %}
            <option value="{{ tag | handle }}" selected>{{ tag }}</option>
            {% else %}
            <option value="{{ tag | handle }}">{{ tag }}</option>
            {% endif %} {% endfor %}
          </select>
        </div>

        <div class="filter sort advanced-sortby">
          <select class="coll-filter">
            <option value="">By Brand</option>

            {% for product_vendor in collection.all_vendors %}
             {% if current_tags contains product_vendor %}
             <option value="{{ product_vendor | handle }}" selected>{{ product_vendor }}</option>
             {% else %}
              <option value="{{ product_vendor | handle }}">{{ product_vendor }}</option>
             {% endif %}{% endfor %}
          </select>
        </div>
      </div>

    <script>
      /* Product Tag Filters - Good for any number of filters on any type of collection pages */
      const collFilters = document.querySelectorAll('.coll-filter');

      if (collFilters.length > 0) {
        collFilters.forEach((collFilter) => {
          collFilter.addEventListener('change', function(){
            var newTags = [];
            collFilters.forEach((collFilter) => {
              for(var i = 0; i <= collFilter.length-1; i++){
                if(collFilter[i].selected == true && collFilter[i].value != "") {
                  newTags.push(collFilter[i].value);
                }
              }
            });

            if (newTags.length) {
              var query = newTags.join('+');
              window.location.href = '/collections/{{ collection.handle }}/' + query;
            }
            else {
              {% if collection.handle %}
              window.location.href = '/collections/{{ collection.handle }}';
              {% elsif collection.products.first.type == collection.title %}
              window.location.href = '{{ collection.title | url_for_type }}';
              {% elsif collection.products.first.vendor == collection.title %}
              window.location.href = '{{ collection.title | url_for_vendor }}';
              {% endif %}
            }
          });
        });
      }
    </script>
  </div>
</div>

<div class="shopify-section col-12 col-md-12">
<div class="container">

<div class="row" data-section-id="{{ section.id }}" data-section-type="collection-template" data-view="{{per_page}}">
  {%- if settings.sb_collection_placement == 'left' -%}
  <div id="sidebar" class="col-md-13 col-sm-12{% if settings.sb_collection_mobile %} hidden-sm hidden-xs{% endif %}">
    {%- include 'sidebar-collection' -%}
  </div>
  {%- endif -%}
  {%- paginate collection.products by per_page -%}
  <div id="col-main" class="center-column content-without-background collection-page{% if settings.sb_collection_placement != '' %} col-md-9{% else %} col-md-12{% endif %} col-sm-12{% if settings.shop_pagination != '' %} hide-pagination{% endif %}">
    <div id="mfilter-content-container" class="{%- if settings.collection_list_grid == '0' -%}list{%- else -%}grid{%- endif -%}">
      
      {%- include 'collection-filter' -%}
      <div id="sandbox">
        {%- if collection.products.size > 0 -%}
        <div class="product-grid products">
          <div class="row">
            {%- for product in collection.products -%}
            <div class="pb-3 px-2 col col-xs-6 product-item">
              {%- include 'product-item' -%}
            </div>
            {%- endfor -%}
          </div>
        </div>
        {%- else -%}
        <p class="empty">{{ 'collections.general.no_products' | t }}</p>
        <div class="buttons">
          <div class="float-right"><a href="{{shop.url}}" class="btn btn--secondary">{{'collections.general.continue' | t}}</a></div>
        </div>
        {%- endif -%}
      </div>
      {%- case settings.shop_pagination -%}
      {%- when '1' -%}
      <div class="fastor_ajax_load_button fastor_ajax_load_more_btn animated fadeIn">
        <a class="button" href="#" data-processing="0" data-loading-items="{{ 'general.pagination.loading_items' | t | escape }}" data-no-more="{{ 'general.pagination.no_more' | t | escape }}">
          {{- 'general.pagination.load_more' | t | escape -}}
        </a>
      </div>
      {%- include 'pagination' -%}
      {%- when '2' -%}
      <div class="fastor_ajax_load_button fastor_ajax_load_more_hidden animated fadeIn">
        <a class="button" href="#" data-processing="0" data-loading-items="{{ 'general.pagination.loading_items' | t | escape }}" data-no-more="{{ 'general.pagination.no_more' | t | escape }}">
          <i class="icon-px-outline-load"></i>
          &nbsp;&nbsp;{{- 'general.pagination.load_more' | t | escape -}}
        </a>
      </div>
      {%- include 'pagination' -%}
      {%- else -%}
      {%- include 'pagination' -%}
      {%- endcase -%}
      {%- include 'spinner' -%}
    </div>
  </div>
  {%- endpaginate -%}

  {%- if settings.sb_collection_placement == 'right' -%}
  <div id="sidebar" class="col-md-3 col-sm-12{% if settings.sb_collection_mobile %} hidden-sm hidden-xs{% endif %}">
    {%- include 'sidebar-collection' -%}
  </div>
  {%- endif -%}
</div>
{% schema %}
  {
    "name": "Collection Page",
	"class": "col-12 col-md-12",
    "settings": []
  }
{% endschema %}