<style>
  {%- if section.settings.bg_color != blank -%}
  #primary-{{section.id}} .mobile-nav-wrapper{
    background-color: {{section.settings.bg_color}}
  }
  {%- endif -%}
  {%- if section.settings.content_color != blank -%}
  .mobile-nav .mobile-nav__item,
  .mobile-nav .mobile-nav__item a {
    color: {{section.settings.content_color}}	
  }
  {%- endif -%}
  {%- if section.settings.border_color != blank -%} 
  .mobile-nav .mobile-nav__item {
    border-color: {{section.settings.border_color}}
  }
  {%- endif -%}
</style>
<div id="primary-{{section.id}}"  data-section-id="{{ section.id }}" data-section-type="mobile-nav-section">
  <nav class="mobile-nav-wrapper">
    <ul class="mobile-nav">
      <li class="mobile-nav__item py-3 border-bottom">
        <div class="mobile-nav-icon">
          <button type="button"><span></span></button>{{ 'general.header.close' | t }}
        </div>
      </li>
      
      {%- if section.settings.linklist != blank -%}
        {%- for link in linklists[section.settings.linklist].links -%}
          {%- include 'mobile-navigation-link' -%}
        {%- endfor -%}
      {%- endif -%}
      
      {%- if shop.customer_accounts_enabled -%}
      <li class="mobile-nav__item py-3 border-bottom">
        <a href="/account" class="mobile-nav__link">
          {%- if customer -%}
          {{ 'general.top.my_account' | t }}
          {%- else -%}
          {{ 'general.top.login' | t }}
          {%- endif -%}
        </a>
      </li>
      {%- endif -%}
      
      {%- if settings.wishlist_enable and settings.wishlist_page -%}
      <li class="mobile-nav__item py-3 border-bottom">
        <a href="/pages/{{ settings.wishlist_page }}" class="mobile-nav__link">{{ 'general.top.wishlist' | t }}</a>
      </li>
      {%- endif -%}
      
      <li class="mobile-nav__item mobile-nav-currency py-3 border-bottom">
        {%- render 'currencies-switcher', no_language_switcher: true -%}
      </li>
      <li class="mobile-nav__item mobile-nav-language py-3">
        {%- render 'currencies-switcher', no_currency_switcher: true -%}
      </li>
    </ul>
  </nav>
  <ul class="mobile-nav-bar">
    <li class="mobile-nav-item mobile-nav-icon">
      <button type="button"><span></span></button>
    </li>
    <li class="mobile-nav-item mobile-nav-search {% if settings.predictive_search_enabled %}js-drawer-open-mobile-top{% endif %}" {% if settings.predictive_search_enabled %}data-predictive-search-mobile-open-drawer{% endif %}>
      <svg style="transform:scaleX(-1);"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#global__symbols--search"></use></svg>
    </li>
    <li class="mobile-nav-item mobile-nav-profile">
      <a class="lh--0" href="/account"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#global__symbols--profile"></use></svg></a>
    </li>
    <li class="mobile-nav-item mobile-nav-cart">
      <a class="lh--0" href="/cart">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#global__symbols--cart-desktop"></use></svg>
        <span class="total_count_ajax">{{ cart.item_count }}</span>
      </a>
    </li>
  </ul>
  <form action="/search" method="get" role="search" class="mobile-nav-search-form">
    <div class="mobile-nav-search-close"><span></span></div>
    <input type="search" name="q" class="input-block-level search-query" placeholder="{{ 'search.general.placeholder' | t }}" />
    <input type="hidden" name="type" value="product" />
  </form>
  <div class="mobile-nav-logo text-center">
    <div class="container">
      <a href="{{shop.url}}" title="{{ shop.name | escape }}">
        {%- assign _logo = "fastor4logo.png" | asset_img_url: 'master'  -%}
        {%- if settings.main_logo != blank -%}
        {%- assign _logo = settings.main_logo | img_url: 'master' -%}
        {%- endif -%}
        <img src="{{ _logo }}" style="max-width:{{settings.mobile_logo_max_width}}px;" title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mobile Nagivation",
	"class": "header-mobile-section",
    "settings": [
		{
			"type": "header",
			"content": "General"
		},
		{
            "type": "link_list",
            "id": "linklist",
            "label": "Choose a Linklist"
		},
		{
			"type": "header",
			"content": "Styling"
		},
		{
			"type": "color",
			"id": "bg_color",
      "label": "Background",
      "default": "#fff"
		},
		{
			"type": "color",
			"id": "content_color",
      "label": "Content",
      "default": "#000"
		},
		{
			"type": "color",
			"id": "border_color",
      "label": "Border",
      "default": "#dee2e6"
		}
		
	]
  }
{% endschema %}
